.reloadBtn {
  margin-top: 1rem;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  outline: 0;
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
  color: #e2e8ee;
}

.imageHolder {
  display: flex;
  justify-content: flex-end;
}
